@model Webshop.Models.OrderInfo

<table>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Id)
        </td>
    </tr>   
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.OrderStatus)
        </td>
    </tr>
</table>