@model List<Webshop.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categorieën</h2>
@foreach(var category in Model){
    @Html.LabelFor(m => category.CategoryName);
    @Html.DisplayFor(m => category.CategoryName);
}